<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <%- include('partials/playHeader') %>
    <div style="display:flex; flex-direction:column; justify-content:center; align-items:center;">
        <div>
            Choose your enemy
        </div>
        <div>
        <a href="/play?battle=bot">Bot</a>
        <a href="/room">Player</a>
        </div>
    </div>
</body>
</html>