
/* header */
header{
    background-color: rgba(0, 0, 0, 0.4);
    height: 8vh;
    position: absolute;
    width: 100%;
    color: white;
    font-weight: bolder;
    padding:0 2vw;
}

.header-logo{
    height: 5vh;
}

header > .row{
    width: 100%;
}
.header-sign{
    margin-right: 5%;
    width: 20vw;
}
.header-navigation{
    width: 30vw;
}

.header-navigation > div {
    margin: 0 1%;
    width: 5vw;
}

.header-sign > div {
    margin: 0 10%;
}

/* header */