body, html{
    padding: 0;
    margin: 0;

}

.register{
    border: 1px solid pink;
    min-height: 100vh;
    background-color: #C18B35;
}

#register-form{
    /* border: 1px solid black; */
    position: absolute;
    width: 50%;
    height: 60%;
    right: 25%;
    top: 20%;
    padding-bottom: 5%;
}

.input-register{
    width: 40%;
    height: 10%;
    background-color: transparent;
    border: 1px solid white;
    /* margin: 1%; */
    font-family:Arial, FontAwesome;
    /* padding: 1% 2%; */
    text-align: center;
}

.input-register::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
.input-register:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
.input-register::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }


.button-register{
    width: 40%;
    height: 40px;
    background-color: white;
    border: transparent;
    color: #C18B35;
    font-weight: bolder;
    margin-top: 3%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 7px;
    position: absolute;
    bottom: 0;
}


#gender-register{
    background-color: transparent;
    border: 1px solid white;
    width: 40%;
    text-align: center;
    color: white;
    height: 10%;
}

select option { 
    color: black;
}